html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

#main {
}

#wrap {
    width: 800px;
    /* border: 2px solid green; */
    margin:0 auto;
}

#SearchResults {
     float:right;
     width:645px;
     /* border: 1px solid red; */
}

#facets {
     float:left;
     width:150px;
     /* border: 1px solid black; */
}


