body {
	margin: auto; /* center in viewport */
	width: 960px;
}

#main {
}
/*
#wrap {
    width: 800px;
    margin:0 auto;
}

#SearchResults {
     float:right;
     width:645px;
}

#facets {
     float:left;
     width:150px;
}
*/

a:link, a:active {
	color: #080
}

.searchrow {
  float:right;
}

.search-box {
	border-radius: 5px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 20px auto 10px;
	width: 525px;	
	background: #f3f3f3;
	font-size: 150%;
	padding: 10px;
        display: block;
        overflow: auto;
}

.search-results .search-box {
	width: auto;	
}

/*
.search-results .search-box input.uiw-input {
	width: 780px
}
*/

.search-box * {
	vertical-align: middle	
}

.search-box input.uiw-input2 {
  width: 390px;
	height:	28px;
	padding: 5px;
	margin-left: 10px;
	border:1px solid #CCC;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);	
}

.search-box input.uiw-input {
        width: 300px;
        height: 28px;
        padding: 5px;
        margin-left: 10px;
        border:1px solid #CCC;
        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-box input.uiw-button {
	border-radius: 0 5px 5px 0;	
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius-topright: 5px;
	-webkit-border-radius-bottomright: 5px;
/*
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);	
*/
	background: url(../images/button-grad.png) #22a72a repeat-x;
	color: #fff;
	margin-left: -3px;
    overflow: visible;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #090;
    text-shadow: 0 0 3px #060;
	height:	40px;
	padding: 5px;
}

.search-box input.uiw-button:hover {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);	
    text-shadow: 1px 1px 4px #030;
}

#facets {
	background-color: #FDFDF7;
	margin-right: 10px;
	-moz-border-radius: 5px 0 0 0;
	border: 1px solid #ebebe0;
	border-width: 0 1px 1px 0;
	padding: 10px;
}

#facets h2 {
	color: #663;
	background: #FCFCF0;
	margin-top: 0;
	margin-bottom: 10px;
}

div.facet {
border-bottom:1px dotted #eec;
color: #993; 
margin-bottom:10px;
font-weight: bold;
}

div.facet ul {
margin-left: 1.1em;
}

div.facet li {
color: #535300; 
font-weight: normal;
list-style: circle;
font-size: 85%;
margin-bottom: 4px;
}

#SearchResults ul li strong a {
	font-size: 120%;
	display: block;
	margin-bottom: 8px;	
}

#SearchResults ul {
margin: 10px 0;
}

#SearchResults ul ul {
margin: 10px 0 10px;
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}

#SearchResults ul ul ul {
margin: 10px;
border:0;
padding: 0;
}

#SearchResults ul li {
list-style: none;
margin-bottom: 4px;
}

div.splash {
  background:url("/ofs/images/ofs_long_logo.png") no-repeat center center; 
  height:150px;
  margin: 20px auto 10px;
}

div.srchprompt {
  background:url("/ofs/images/sfsm.png") no-repeat scroll -2px -0px transparent;
  float:left;
  width:38px; 
  height:38px;
}

div.footerlinks {
  text-align:center;
}

div.maintitle {
  text-align:center;
  font-size:24px;
}

div.preamble {
  text-align:center;
  font-size:12px;
}
div.subtitle {
  text-align:center;
  font-size:12px;
}

#pagination {
  text-align:center;
}

a.step:link {
  padding: 0 5px;
}

span.currentStep {
  padding: 0 5px;
}

a.nextLink:link {
  padding: 0 5px;
}

a.prevLink:link {
  padding: 0 5px;
}

div.searchflash {
	text-align: left;
	color: #999;
}

/* Details Pages */

h1 {
	color: #333;
	background: #f6f6f6;
	padding: 10px;
	border-bottom: 1px solid #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

h1 strong {
	text-shadow: 1px 1px 2px #ccc;
	font-style: italic;
}

#map {
	border: 1px solid #fff;
	box-shadow: 1px 1px 10px #666;
	-moz-box-shadow: 1px 1px 10px #666;
	-webkit-box-shadow: 1px 1px 10px #666;
	margin-left: 10px
}

.opaque50 {
opacity: .5;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);   
}
